<ul>
  <% @users.each do |user| %>
    <li><%= link_to user.email, user_path(user.id) %></li>
  <% end %>
</ul>

<p>
  <%= paginate @users %>
</p>

<p>
  <%= link_to t('views.common.back'), :back %>
</p>
